@charset "UTF-8";

:root {
    --primary-color: #;
    --secondary-color: #;
    --background-color: #;
    --text-color: #;
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}